.email-btn, .vacancy-btn, .hero-btn {
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  height: 49px;
}

.mailing-form .email-input, .hero-form .form-input {
  width: 447px;
  height: 70px;
  padding-left: 25px;
  box-shadow: 0 4px 25px 0 rgba(15, 17, 56, 0.1);
  border: 1px solid rgba(209, 209, 209, 0.1);
  border-radius: 5px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-btn {
  position: absolute;
  top: 11px;
  bottom: 10px;
  right: 10px;
  width: 211px;
  background: #1a75e8;
  color: #fff;
}

.vacancy-btn {
  width: 193px;
  color: #fff;
  background: #1a75e8;
  margin-left: 490px;
  margin-bottom: 80px;
}

.email-btn {
  width: 191px;
  background: #1a75e8;
  color: #fff;
  position: absolute;
  top: 11px;
  left: 246px;
}

.container {
  width: 1176px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.hero-container {
  display: flex;
  width: 460px;
  flex-wrap: wrap;
  position: relative;
  padding-top: 118px;
}

.footer-container {
  display: flex;
  position: relative;
}

.header {
  background: #f2f3f6;
}

.nav-list {
  display: flex;
  margin-left: 260px;
}
.nav-list .nav-item {
  margin-right: 20px;
}
.nav-list .nav-item .nav-link {
  color: #111238;
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .nav-item .nav-link:hover {
  color: #1a75e8;
}
.nav-list .nav-item:first-child {
  margin-right: 20px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 73px;
}
.footer .copyright {
  line-height: 140%;
  font-size: 12px;
  color: #b2b2b2;
  margin-top: 23px;
  width: 166px;
  position: absolute;
  top: 33px;
}
.footer .footer-list {
  display: flex;
  margin-left: 122px;
  margin-top: 32px;
  -moz-column-gap: 122px;
       column-gap: 122px;
}
.footer .footer-list .footer-item {
  display: flex;
  flex-direction: column;
}
.footer .footer-list .footer-item .footer-title {
  font-size: 16px;
  color: #111238;
  margin-bottom: 15px;
}
.footer .footer-list .footer-item .footer-link {
  color: #111238;
  margin-bottom: 10px;
}

.hero-form {
  position: relative;
  margin-top: 30px;
}
.hero-form .form-input {
  background: #fff;
}
.hero-form .form-input:focus {
  outline: none;
}

.mailing-form {
  position: relative;
  width: 447px;
  height: 70px;
  margin: 0 auto;
}
.mailing-form .email-input {
  background: #fff;
}
.mailing-form .email-input:focus {
  outline: none;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.reg-list {
  display: flex;
  align-items: center;
  margin-left: 261px;
}
.reg-list .reg-item:first-child {
  margin-right: 40px;
}
.reg-list .reg-item:first-child .reg-link {
  color: #111238;
}
.reg-list .reg-item:last-child {
  border-radius: 5px;
  padding: 15px 30px;
  width: 155px;
  height: 49px;
  background: #1a75e8;
}
.reg-list .reg-item:last-child .reg-link:last-child {
  color: #fff;
}

.hero {
  background-color: #f2f3f6;
}
.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  color: #111238;
}
.hero .hero-info {
  line-height: 140%;
  font-size: 18px;
  color: #111238;
  margin-top: 15px;
}
.hero .hero-text {
  font-size: 12px;
  color: #b2b2b2;
  margin-top: 23px;
  margin-bottom: 223px;
}
.hero .hero-text .example {
  padding: 5px 10px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  margin-left: 10px;
}
.hero .hero-img {
  position: absolute;
  top: 125px;
  right: 153px;
}

.category {
  padding-top: 78px;
}
.category .category-title {
  color: #111238;
}
.category .category-list {
  display: flex;
}
.category .category-list .category-item {
  border-radius: 10px;
  width: 166px;
  height: 128px;
  position: relative;
  display: flex;
  background: #f2f3f6;
  margin-right: 30px;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
}
.category .category-list .category-item .icon-link {
  height: 24px;
  position: absolute;
  left: 70px;
  top: 35px;
}
.category .category-list .category-item .category-link {
  color: #111238;
  margin-top: 74px;
}
.category .category-list .category-item .category-link .category-icon {
  margin-bottom: 15px;
}
.category .category-list .category-item:hover {
  background-color: #1a75e8;
  cursor: pointer;
}
.category .category-list .category-item:hover .category-link {
  color: #fff;
}
.category .category-list .category-item:hover .category-icon {
  fill: #fff;
}

.vacancy {
  padding-top: 70px;
}
.vacancy .vacancy-title {
  color: #111238;
  margin-bottom: 40px;
}
.vacancy .vacancy-item {
  border-radius: 10px;
  width: 1146px;
  height: 160px;
  position: relative;
  border: 1px solid #111238;
  padding-top: 57px;
  padding-left: 150px;
  margin-bottom: 20px;
}
.vacancy .vacancy-item .vacancy-img {
  position: absolute;
  left: 30px;
  top: 30px;
}
.vacancy .vacancy-item .vacancy-position {
  font-weight: 700;
  color: #111238;
}
.vacancy .vacancy-item .vacancy-located {
  color: #111238;
  font-style: normal;
  margin-top: 10px;
}
.vacancy .vacancy-item .vacancy-salary {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  width: 113px;
  height: 39px;
  background: #1a75e8;
  position: absolute;
  left: 369px;
  top: 60px;
}
.vacancy .vacancy-item .requirment {
  font-size: 14px;
  color: #b2b2b2;
  position: absolute;
  left: 544px;
  top: 70px;
}
.vacancy .vacancy-item .requirment .example {
  padding: 5px 10px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  margin-left: 10px;
}
.vacancy .vacancy-item .vacancy-link {
  position: absolute;
  left: 1001px;
  top: 71px;
  font-weight: 400;
  font-size: 14px;
  color: #1a75e8;
}

.mailing {
  padding-top: 90px;
  background: #f2f3f6;
  padding-bottom: 90px;
}
.mailing .mailing-title {
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  width: 460px;
  height: 86px;
  margin: 0 auto;
}
.mailing .mailing-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #111238;
  width: 460px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.mailing .mailing-icon {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */