@mixin font($fz, $color, $mt){
    font-size: $fz;
    color: $color;
    margin-top: $mt;
}
@mixin pos($pos, $left, $top) {
    position: $pos;
    left: $left;
    top: $top;
}
@mixin border($border-radius, $w, $h, $position) {
    border-radius: $border-radius;
    width: $w;
    height: $h;
    position: $position;
}