%btn-style {
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    height: 49px;
}
%inputs {
    width: 447px;
    height: 70px;
    padding-left: 25px;
    box-shadow: 0 4px 25px 0 rgba(15, 17, 56, 0.1);
    border: 1px solid rgba(209, 209, 209, 0.1);
    border-radius: 5px;
}