.footer {
  padding-top: 70px;
  padding-bottom: 73px;
  .copyright {
    line-height: 140%;
    @include font(12px, $inputs-grey, 23px);
    width: 166px;
    position: absolute;
    top: 33px;
  }

  .footer-list {
    display: flex;
    margin-left: 122px;
    margin-top: 32px;
    column-gap: 122px;
    .footer-item {
      display: flex;
      flex-direction: column;
      .footer-title {
        font-size: 16px;
        color: $text-primary;
        margin-bottom: 15px;
      }
      .footer-link {
        color: $text-primary;
        margin-bottom: 10px;
      }
    }
  }
}
