.hero-form {
  position: relative;
  margin-top: 30px;
  .form-input {
    @extend %inputs;
    background: $inputs-light;
  }
  .form-input:focus {
    outline: none;
  }
}
.mailing-form {
  position: relative;
  width: 447px;
  height: 70px;
  margin: 0 auto;
  .email-input {
    @extend %inputs;
    background: $inputs-light;
  }
  .email-input:focus {
    outline: none;
  }
}
