.hero-btn {
    @extend %btn-style;
    position: absolute;
    top: 11px;
    bottom: 10px;
    right: 10px;
    width: 211px;
    background: $buttons-primary;
    color: $inputs-light;
}
.vacancy-btn {
    @extend %btn-style;
    width: 193px;
    color: $inputs-light;
    background: $buttons-primary;
    margin-left: 490px;
    margin-bottom: 80px;
}
.email-btn {
    @extend %btn-style;
    width: 191px;
    background: $buttons-primary;
    color: $inputs-light;
    position: absolute;
    top: 11px;
    left: 246px;
}