.container {
    width: 1176px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-container {
    display: flex;
    align-items: center;
}
.hero-container {
    display: flex;
    width: 460px;
    flex-wrap: wrap;
    position: relative;
    padding-top: 118px;
}